# Instancia 1: BookWyrm.it
BW_BOOKWYRM_URL=https://bookwyrm.it/
BW_BOOKWYRM_USERNAME=Rocinante
BW_BOOKWYRM_PASSWORD=your_password_here

# Instancia 2: Comelibros.club
BW_COMELIBROS_URL=https://comelibros.club/
BW_COMELIBROS_USERNAME=Rocinante
BW_COMELIBROS_PASSWORD=your_password_here

# Configuración por defecto / principal
BW_INSTANCE_URL=https://bookwyrm.it/
BW_USERNAME=Rocinante
BW_PASSWORD=your_password_here
